# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# ML / large files
*.pt
*.pth
*.safetensors
*.bin

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db